:root {
  --text: #e0e2e9de;
  --text-h: #f3f4f6;
  --text-black: rgb(49, 49, 49);
  --text-black-low: rgb(116, 116, 116);
  --text-loading: #255c44;
  --text-loading-p: #4caf50;
  --button: #255c44;
  --button-hover: #2c7253;
  --bg: #ebeae4;
  --bg-green: #255c44;
  --border: #17171850;
  --border-focus: #0a0a0aaf;
  --error-bg: #fdecea;
  --error-border: #f5c2c7;
  --error-color: #b71c1c;
  --success-bg: #ecfdf3;
  --success-border: #a6f4c5;
  --success-color: #067647;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
